<ng-template #load>
  <loader *ngIf="loading"></loader>
</ng-template>

<div *ngIf="!loading && !isNull else load" class="table-responsive">
  <table class="table">
    <thead class="bg-white">
      <tr>
        <th scope="col">CGU</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Tipo</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr *ngFor="let s of solicitations; index as i;">
        <th scope="row">{{ s.cgu }}</th>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>
          <select class="form-control min-width-130" name="type" id="type" #inputSelect>
            <option value="adm">Administrador</option>
            <option value="student" selected>Aluno</option>
            <option value="invited">Convidado</option>
          </select>
        </td>
        <td>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#acceptModal"
              (click)="getSolicitation(i)">
              <i class="fas fa-check mr-1"></i>
              Aceitar
            </button>
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#rejectModal"
              (click)="getSolicitation(i)">
              <i class="fas fa-trash mr-1"></i>
              Rejeitar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="isNull" class="alert alert-success mx-4 mt-4">
  <h4 class="alert-heading text-center">
    Nenhuma solicitação pendente!
  </h4>
</div>

<!-- Modal Accept-->
<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Aceitar solicitação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span #closeButtonAcc class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <div *ngIf="selectedSolicitation" class="modal-body">
        Deseja realmente aceitar de <b>{{ selectedSolicitation.name }}</b> como novo usuário do tipo
        <b>{{ selectedOption }}</b>
        no <span class="main-color"><b>Cyber</b>Chalk?</span>
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="confirmed()">Confirmar</button>
      </div>
      <div *ngIf="loadingAction" class="modal-footer">
        <div class="w-100">
          <loader></loader>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Reject-->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Rejeitar solicitação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span #closeButtonRej class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <div *ngIf="selectedSolicitation" class="modal-body">
        Deseja realmente rejeitar a solicitação <b>{{ selectedSolicitation.name }}</b> como novo usuário
        no <span class="main-color"><b>Cyber</b>Chalk?</span>
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="rejected()">Rejeitar</button>
      </div>
      <div *ngIf="loadingAction" class="modal-footer">
        <div class="w-100">
          <loader></loader>
        </div>
      </div>
    </div>
  </div>
</div>