<ng-template #load>
  <loader *ngIf="loading || loadingAction"></loader>
</ng-template>

<div class="container-fluid bg-white py-2">
  <div class="row">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-dark" routerLink="/dashboard/my-stuff/courses/list">
        <i class="fas fa-arrow-left"></i>
        Voltar
      </button>
    </div>
    <div class="col-12 text-center">
      <h3> {{ actionText }} curso</h3>
    </div>
  </div>
  <form *ngIf="!loading" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="category">Categoria</label>
      <select class="form-control mb-1" name="category" id="category" formControlName="category"
        (change)="findThemes()">
        <option selected hidden disabled>Escolher categoria</option>
        <option *ngFor="let category of categories" value="{{category.id}}">{{ category.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="theme_id">Tema</label>
      <select class="form-control mb-1" name="theme_id" id="theme_id" formControlName="theme_id"
        *ngIf="courseForm.controls['category'].valid && !loading && themeByCategory.length > 0;">
        <option selected hidden disabled>Escolher tema</option>
        <option *ngFor="let theme of themeByCategory" value="{{theme.id}}">{{ theme.name }}</option>
      </select>
      <div *ngIf="courseForm.controls['category'].invalid && !loading" class="alert alert-light" role="alert">
        <h6 class="alert-heading">Nenhuma categoria selecionada</h6>
      </div>
      <div *ngIf="courseForm.controls['category'].valid && !loading && themeByCategory.length == 0"
        class="alert alert-light" role="alert">
        <h6 class="alert-heading">Categoria sem temas</h6>
      </div>
    </div>
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-control" id="title" name="title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="description">Descrição</label>
      <textarea class="form-control" name="description" rows="4" maxlength="400" formControlName="description"></textarea>
      <small>Obs: máximo de 400 caracteres.</small>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <button *ngIf="!loadingAction else load" type="submit" class="btn btn-success" [disabled]="courseForm.invalid">
          <i class="fas fa-save"></i>
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>