<div class="container-fluid">
  <div class="row text-center">
    <a class="col-4 p-1 a-link" routerLink="solicitations" routerLinkActive="active">
      <i class="far fa-address-book"></i>
      Solicitações pendentes
    </a>
    <a class="col-4 p-1 a-link" routerLink="solicitations-all" routerLinkActive="active">
      <i class="fas fa-th-list"></i>
      Todas solicitações
    </a>
    <a class="col-4 p-1 a-link" routerLink="all" routerLinkActive="active">
      <i class="fas fa-users"></i>
      Todos usuários
    </a>
  </div>
</div>
<router-outlet></router-outlet>