.main-color{
    color: #3c8dbc;
}

.card{
    width: fit-content;
    display: inline-block;
    cursor: pointer;
}

.card-body{
    white-space: normal;
}

div.scrollmenu {
    min-width: 100%;
    width: auto;
    overflow: auto;
    white-space: nowrap;
}