.no-border{
    border: 0px !important;
}
.input-width-300{
    width: 300px;
}

.ng-valid:not(form):not(#status):not(#search)  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

.card{
    width: fit-content;
    display: inline-block;
}

.modal-content{
    border: 0;
}