<ng-template #load>
  <loader></loader>
</ng-template>

<div class="container-fluid">
  <div class="row nav">
    <div class="col-auto p-0">
      <div class="side-title" id="navTitle" #navTitle>
        <a routerLink="/dashboard">
          <b>{{ title1 }}</b>{{ title2 }}
        </a>
      </div>
    </div>
    <div class="col p-0">
      <div class="row h-100 justify-content-between">
        <div class="col-auto p-0">
          <button class="h-100 menu-botton" (click)="toggleMenu()">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="col-auto pt-2">
          <p class="text-white m-0 p-1 pointer" (click)="logout()">Logout</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div class="side-menu" id="sideMenu">
      <div *ngIf="user else load" class="row">
        <div class="col-auto p-2">
          <div class="user-photo cover bg-light" [style.background-image]="urlImage()">
          </div>
        </div>
        <div class="col p-2">
          <p class="username">{{ user.name }}</p>
        </div>
      </div>

      <div class="main-navigation">
        Main Navigation
      </div>
      <ul class="list-style-none">
        <li routerLinkActive="category-active" [routerLinkActiveOptions]="{exact: false}">
          <a class="category accordion">
            <i class="fas fa-map-signs mr-1"></i>
            My way
          </a>
          <div class="panel">
            <ul class="list-style-none">
              <li class="sub-category">
                <a routerLink="profile" routerLinkActive="sub-category-active">
                  <i class="far fa-circle mr-1"></i>
                  Perfil
                </a>
              </li>
              <li class="sub-category">
                <a routerLink="my-stuff" routerLinkActive="sub-category-active">
                  <i class="far fa-circle mr-1"></i>
                  Minhas criações
                </a>
              </li>
              <li class="sub-category">
                <a routerLink="progress" routerLinkActive="sub-category-active">
                  <i class="far fa-circle mr-1"></i>
                  Material em andamento
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="admin" routerLinkActive="category-active" [routerLinkActiveOptions]="{exact: false}">
          <a class="category accordion">
            <i class="fas fa-user-shield mr-1"></i>
            Admin
          </a>
          <div class="panel">
            <ul class="list-style-none">
              <li class="sub-category">
                <a routerLink="admin/user" routerLinkActive="sub-category-active">
                  <i class="far fa-circle"></i>
                  <span class="ml-2">Usuários</span>
                </a>
              </li>
              <li class="sub-category">
                <a routerLink="admin/categories" routerLinkActive="sub-category-active">
                  <i class="far fa-circle"></i>
                  <span class="ml-2">Categorias / Temas</span>
                </a>
              </li>
              <li class="sub-category">
                <a routerLink="admin/contents-and-courses" routerLinkActive="sub-category-active">
                  <i class="far fa-circle"></i>
                  <span class="ml-2">Conteúdos / Cursos</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li routerLinkActive="category-active" [routerLinkActiveOptions]="{exact: false}">
          <a class="category accordion">
            <i class="fas fa-book mr-1"></i>
            Guia de aulas
          </a>
          <div class="panel">
            <ul class="list-style-none">
              <ng-container *ngFor="let category of categories">
                <li *ngIf="category.session == 1" class="sub-category">
                  <a routerLink="category/{{category.id}}" routerLinkActive="sub-category-active">
                    <i class="far fa-circle"></i>
                    <span class="ml-2">{{  category.name  }}</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </li>
        <li routerLinkActive="category-active" [routerLinkActiveOptions]="{exact: false}">
          <a class="category accordion">
            <i class="fas fa-code mr-1"></i>
            High Technologies
          </a>
          <div class="panel">
            <ul class="list-style-none">
              <ng-container *ngFor="let category of categories">
                <li *ngIf="category.session == 2" class="sub-category">
                  <a routerLink="category/{{category.id}}" routerLinkActive="sub-category-active">
                    <i class="far fa-circle"></i>
                    <span class="ml-2">{{  category.name  }}</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </li>
        <li routerLinkActive="category-active" [routerLinkActiveOptions]="{exact: false}">
          <a class="category accordion">
            <i class="fas fa-microphone mr-1"></i>
            Fala Tu!
          </a>
          <div class="panel">
            <ul class="list-style-none">
              <ng-container *ngFor="let category of categories">
                <li *ngIf="category.session == 3" class="sub-category">
                  <a routerLink="category/{{category.id}}" routerLinkActive="sub-category-active">
                    <i class="far fa-circle"></i>
                    <span class="ml-2">{{  category.name  }}</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="board p-2" id="board">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>