<div class="container-fluid">
  <div class="row nav">
    <div class="side-title" id="navTitle" #navTitle>
      <a routerLink="/dashboard">
        <b>{{ title1 }}</b>{{ title2 }}
      </a>
    </div>
    <div>
      <button (click)="toggleMenu()"> Toggle </button>
    </div>
  </div>
  <div class="flex-container">
    <div class="side-menu" id="sideMenu">
      <div class="user">
        <div class="float-left">
          <img class="user-photo" src="../../assets/images/home-image.jpg" alt="" srcset="">
        </div>
        <div class="float-left ml-3">
          <p class="username">Filipe Oliveira Raupp</p>
        </div>
      </div>
      <div class="main-navigation">
        Main Navigation
      </div>
      <ul class="list-style-none">
        <li  routerLinkActive="category-active" [routerLinkActiveOptions]="{exact: false}">
          <a class="category accordion">
            <i class="fas fa-user-shield mr-1"></i>
            Admin
          </a>
          <div class="panel">
            <ul class="list-style-none">
              <li class="sub-category">
                <a routerLink="admin/user" routerLinkActive="sub-category-active">
                  <i class="far fa-circle"></i>
                  <span class="ml-2">Usuários</span>
                </a>
              </li>
              <li class="sub-category">
                <a routerLink="admin/category" routerLinkActive="sub-category-active">
                  <i class="far fa-circle"></i>
                  <span class="ml-2">Categorias</span>
                </a>
              </li>
              <li class="sub-category">
                <a routerLink="solicitation/courses-and-contents" routerLinkActive="sub-category-active">
                  <i class="far fa-circle"></i>
                  <span class="ml-2">Conteúdos / Cursos</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li  routerLinkActive="category-active" [routerLinkActiveOptions]="{exact: false}">
          <a class="category accordion">
            <i class="fas fa-book mr-1"></i>
            Manual STADS
          </a>
          <div class="panel">
            <ul class="list-style-none">
            </ul>
          </div>
        </li>
        <li  routerLinkActive="category-active" [routerLinkActiveOptions]="{exact: false}">
          <a class="category accordion">
            <i class="fas fa-code mr-1"></i>
            Tech & Dev
          </a>
          <div class="panel">
            <ul class="list-style-none">
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="board" id="board">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>