<ng-template #load>
  <loader *ngIf="loading || loadingAction"></loader>
</ng-template>

<div class="container-fluid bg-white py-2">
  <div class="row">
    <div class="col-auto">
      <button type="button" class="btn btn-outline-dark" routerLink="/dashboard/my-stuff/contents/list">
        <i class="fas fa-arrow-left"></i>
        Voltar
      </button>
    </div>
    <div class="col-12 text-center">
      <h3>{{ actionText }} conteúdo</h3>
    </div>
  </div>
  <form *ngIf="!loading && !loadingEdit else load" [formGroup]="contentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="category">Categoria</label>
      <select class="form-control mb-1" name="category" id="category" formControlName="category"
        (change)="findThemes()">
        <option selected hidden disabled>Escolher categoria</option>
        <option *ngFor="let category of categories" value="{{category.id}}">{{ category.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="theme_id">Tema</label>
      <select class="form-control mb-1" name="theme" id="theme" formControlName="theme"
        *ngIf="contentForm.controls['category'].valid && !loading && themeByCategory.length > 0;">
        <option selected hidden disabled>Escolher tema</option>
        <option *ngFor="let theme of themeByCategory" value="{{theme.id}}">{{ theme.name }}</option>
      </select>
      <div *ngIf="contentForm.controls['category'].invalid && !loading" class="alert alert-light" role="alert">
        <h6 class="alert-heading">Nenhuma categoria selecionada</h6>
      </div>
      <div *ngIf="contentForm.controls['category'].valid && !loading && themeByCategory.length == 0"
        class="alert alert-light" role="alert">
        <h6 class="alert-heading">Categoria sem temas</h6>
      </div>
    </div>
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-control" id="title" name="title" formControlName="title">
    </div>
    <div class="form-group">
      <label for="video">Vídeo</label>
      <div *ngIf="id">
        <p *ngFor="let video of contentEdit.video" class="little-card p-1 mb-1 mr-1">
          {{ video.video_name }}
          <a class="mr-1" download>
            <i class="fas fa-download pointer" (click)="downloadVideo(video.id)"></i>
          </a>
          <i class="fas fa-window-close pointer" style="color: #ee0000" (click)="deleteVideo(video.id)"></i>
        </p>
      </div>
      <input type="file" class="form-control-file mt-2" id="video" name="video" accept="video/*" formControlName="video"
        (change)="onChangeVideo($event)">
      <p class="alert alert-warning mt-1" *ngIf="id">Obs: Caso um novo arquivo de vídeo seja selecionado, o atual será removido.</p>
    </div>
    <div class="form-group">
      <label for="support_files">Arquivos de apoio</label>
      <div *ngIf="id">
        <p *ngFor="let file of contentEdit.support_files; let i = index;" class="little-card p-1 mb-1 mr-1">
          {{ file.file_name }}
          <a class="mr-1" download>
            <i class="fas fa-download pointer" (click)="downloadFile(file.id)"></i>
          </a>
          <i class="fas fa-window-close pointer" style="color: #ee0000" (click)="fileDelete(i)"></i>
        </p>
      </div>
      <input type="file" multiple class="form-control-file mt-2" id="support_files" name="support_files"
        formControlName="support_files" (change)="onChangeFiles($event)">
    </div>
    <div class="form-group">
      <label for="support_text">Texto de apoio</label>
      <textarea class="form-control" id="support_text" rows="8" maxlength="1500" formControlName="support_text"></textarea>
      <small>Obs: máximo de 1500 caracteres.</small>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <button *ngIf="!loadingAction else load" type="submit" class="btn btn-success" [disabled]="contentForm.invalid">
          <i class="fas fa-save"></i>
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>