<ng-template #load>
  <loader *ngIf="loading"></loader>
</ng-template>

<div *ngIf="!loading else load" class="container-fluid bg-white pb-3">
  <div class="row">
    <div class="col-12 text-center">
      <h2>{{ category.name }}</h2>
    </div>
  </div>
  <hr>
  <div class="col-12">
    <h4>Temas</h4>
  </div>
  <div class="row">
    <div *ngFor="let theme of themes" class="col-12 col-md-6 col-lg-3 mb-2">
      <div class="card bg-light h-100" style="max-width: 18rem;">
        <div class="card-header p-2 main-color">
          <h5 class="card-title m-0">{{ theme.name }}</h5>
        </div>
        <div class="card-body p-2 bg-light">
          <small class="text-muted">
            <p class="m-0">Cursos: ({{theme.courses}})</p>
            <p class="m-0">Conteúdos avulsos: ({{theme.contents}})</p>
          </small>
        </div>
        <button class="w-100 btn btn-sm btn-secondary" routerLink="theme/{{ theme.id }}">
          Acessar material
          <i class="fas fa-sign-in-alt ml-1"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && themes.length == 0" class="alert alert-warning text-center">
    <h5>Nenhuma tema encontrado.</h5>
  </div>
</div>