<ng-template #load>
  <loader *ngIf="loading"></loader>
</ng-template>

<div class="container-fluid bg-white">

  <div class="row">
    <div class="col-12 col-lg-auto p-0">
      <button class="btn btn-success btn-sm float-left m-2" data-toggle="modal" routerLink="../content-manage">
        <i class="fas fa-plus"></i>
        Criar conteúdo
      </button>
    </div>
    <div class="col-12 col-lg-auto p-0">
      <div class="input-group input-group-sm m-2 input-width-300">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <input type="text" id="search" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" placeholder="Pesquisar curso..." [(ngModel)]="text">
      </div>
    </div>
    <div class="col-12 col-lg-4 form-inline p-2">
      <label for="status" class="col-sm-auto col-form-label col-form-label-sm p-0 mr-2">Status</label>
      <select class="form-control form-control-sm" name="status" id="status" [(ngModel)]="status">
        <option value="">Todos</option>
        <option value="pending">Em aprovação</option>
        <option value="recycled">Em reciclagem</option>
        <option value="rejected">Rejeitado</option>
        <option value="approved">Aceito</option>
        <option value="saved">Salvo</option>
      </select>
    </div>
  </div>

</div>
<div *ngIf="(!loading && !loadingThemes) && !isNull else load" class="table-responsive">
  <table class="table table-bordered">
    <thead class="bg-white">
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Categoria/Tema</th>
        <th scope="col">Data</th>
        <th scope="col">Status</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr *ngFor="let content of contentSolicitations | filterStatus: text: status">
        <td>{{ content.title }}</td>
        <td>{{ content.categoryName }}/{{ content.themeName }}</td>
        <td>{{ content.created_at | date:'dd/MM/yy'}}</td>
        <td [ngSwitch]="content.status">
          <div class="text-info" *ngSwitchCase="'saved'">Salvo</div>
          <div class="text-warning" *ngSwitchCase="'pending'">
            Em aprovação
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#cancelModal"
              (click)="getSelectedContent(content)">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <div class="text-info" *ngSwitchCase="'recycled'">
            Em reciclagem
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#mensageModal"
              (click)="getSelectedContent(content)">
              <i class="fas fa-envelope"></i>
            </button>
          </div>
          <div class="text-success" *ngSwitchCase="'approved'">Aceito</div>
          <div class="text-danger" *ngSwitchCase="'rejected'">Rejeitado</div>
          <div *ngSwitchDefault>Não encontrado</div>
        </td>
        <td style="width: 50px;">
          <div class="btn-group btn-group-toggle">
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#sendModal"
              [disabled]="content.status=='pending' || content.status=='approved' || content.status=='rejected'"
              (click)="getSelectedContent(content)">
              <i class="fas fa-paper-plane"></i>
            </button>
            <button class="btn btn-sm btn-info" routerLink="../content-manage/{{ content.id }}"
              [disabled]="content.status=='pending' || content.status=='rejected'">
              <i class="fas fa-pen"></i>
            </button>
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delModal"
              (click)="getSelectedContent(content)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Remove-->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Excluir conteúdo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span #closeButtonDelete class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <div *ngIf="selectedContent" class="modal-body">
        Deseja realmente excluir o conteúdo <b>{{ selectedContent.title }}</b>?
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-arrow-left mr-1"></i>
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="delete(selectedContent.id)">
          <i class="fas fa-trash mr-1"></i>
          Excluir
        </button>
      </div>
      <div *ngIf="loadingAction" class="modal-footer">
        <div class="w-100">
          <loader></loader>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal send to approve-->
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Enviar conteúdo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span #closeButtonSend class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <div *ngIf="selectedContent" class="modal-body">
        Deseja realmente enviar o conteúdo <b>{{ selectedContent.title }}</b>?<br>
        <small>Obs: envie apenas quando o mesmo estiver completo.</small>
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-arrow-left mr-1"></i>
          Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="changeStatus('pending')">
          <i class="fas fa-paper-plane"></i>
          Enviar
        </button>
      </div>
      <div *ngIf="loadingAction" class="modal-footer">
        <div class="w-100">
          <loader></loader>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Remove-->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Cancelar envio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span #closeButtonCancel class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <div *ngIf="selectedContent" class="modal-body">
        Deseja realmente cancelar o envio do conteúdo <b>{{ selectedContent.title }}</b>?
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-arrow-left mr-1"></i>
          Voltar
        </button>
        <button type="button" class="btn btn-danger" (click)="changeStatus('canceled')">
          <i class="fas fa-times mr-1"></i>
          Cancelar
        </button>
      </div>
      <div *ngIf="loadingAction" class="modal-footer">
        <div class="w-100">
          <loader></loader>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal mensage-->
<div class="modal fade" id="mensageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div *ngIf="selectedContent" class="modal-body">
        <h5>Mensagem de reciclagem</h5> 
        {{ selectedContent.recycle_mensage }}
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-arrow-left mr-1"></i>
          Voltar
        </button>
      </div>
    </div>
  </div>
</div>