.card{
    width: fit-content;
    display: inline-block;
}

.no-border{
    border: 0px !important;
}

.input-width-300{
    width: 300px;
}

.active{
    background-color: #5fb5c2 !important; 
    color: #fff ;
}

.item-content{
    border-bottom: 2px solid #666666;
    cursor: pointer;
}