<ng-template #load>
  <loader *ngIf="loading"></loader>
</ng-template>

<div class="container-fluid bg-white">
  <div class="row pt-2">
    <div class="col-12 col-lg-4 col-md-6">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <input type="text" id="search" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm" placeholder="Pesquisar curso..." [(ngModel)]="text">
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-6">
      <div class="form-group row">
        <label for="status" class="col-sm-auto col-form-label col-form-label-sm">Status</label>
        <div class="col-sm">
          <select class="form-control form-control-sm" name="status" id="status" [(ngModel)]="status">
            <option value="">Todos</option>
            <option value="pending">Em aprovação</option>
            <option value="recycled">Em reciclagem</option>
            <option value="rejected">Rejeitado</option>
            <option value="approved">Aceito</option>
            <option value="saved">Salvo</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loading else load" class="table-responsive">
  <table class="table table-bordered">
    <thead class="bg-white">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Categoria/Tema</th>
        <th scope="col">Criador</th>
        <th scope="col">Data</th>
        <th scope="col">Itens</th>
        <th scope="col">Status</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr *ngFor="let course of courses | filterStatus: text: status as result">
        <th scope="row">{{ course.id }}</th>
        <td> {{ course.title }}</td>
        <td> {{ course.categoryName }}/{{ course.themeName }} </td>
        <td> {{ course.creatorName }} </td>
        <td> {{ course.created_at }} </td>
        <td> {{ course.qtdContent }} </td>
        <td [ngSwitch]="course.status">
          <div class="text-info" *ngSwitchCase="'saved'">Salvo</div>
          <div class="text-warning" *ngSwitchCase="'pending'">Em aprovação</div>
          <div class="text-info" *ngSwitchCase="'recycled'">Em reciclagem</div>
          <div class="text-success" *ngSwitchCase="'approved'">Aceito</div>
          <div class="text-danger" *ngSwitchCase="'rejected'">Rejeitado</div>
          <div *ngSwitchDefault>Não encontrado</div>
        </td>
        <td>
          <div class="btn-group btn-group-toggle">
            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#approveModal"
              (click)="getSelectedCourse(course)">
              <i class="fas fa-check"></i>
            </button>
            <button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#showModal"
              (click)="showCourse(course)">
              <i class="fas fa-eye mr-1"></i>
            </button>
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#recycleModal"
              (click)="getSelectedCourse(course)">
              <i class="fas fa-recycle"></i>
            </button>
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal"
              (click)="getSelectedCourse(course)">
              <i class="fas fa-trash mr-1"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid" *ngIf="courses | filterStatus: text: status as result;">
  <div class="row">
    <div *ngIf="!loading && status == 'pending' && result.length == 0" class="alert alert-success text-center w-100">
       <h5>Nenhum curso "Em aprovação" pendente!</h5>
    </div>
  </div>
</div>

<!--------------------------------- M O D A L ' S  --------------------------------->
<!-- Modal approve-->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Aprovar curso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span #closeButtonApprove class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <div *ngIf="selectedCourse" class="modal-body">
        Deseja realmente <b>aprovar</b> o curso <b>{{ selectedCourse.title }}</b>?<br>
        <small class="text-secondary">Obs: Após aprovado, o mesmo será disponibilizado nos materiais da
          plataforma.</small>
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-arrow-left mr-1"></i>
          Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="changeStatus('approved')">
          <i class="fas fa-check"></i>
          Aprovar
        </button>
      </div>
      <div *ngIf="loadingAction" class="modal-footer">
        <div class="w-100">
          <loader></loader>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal recycle-->
<div class="modal fade" id="recycleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Reciclar curso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span #closeButtonRecycle class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <div *ngIf="selectedCourse" class="modal-body">
        Deseja realmente <b>reciclar</b> o curso <b>{{ selectedCourse.title }}</b>?<br>
        <small class="text-secondary">Obs: O criador poderá fazer os reajustes e, posteriormente, reencaminhar o
          curso.</small>
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-arrow-left mr-1"></i>
          Cancelar
        </button>
        <button type="button" class="btn btn-info" (click)="changeStatus('recycled')">
          <i class="fas fa-recycle"></i>
          Reciclar
        </button>
      </div>
      <div *ngIf="loadingAction" class="modal-footer">
        <div class="w-100">
          <loader></loader>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">Deletar curso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span #closeButtonReject class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <div *ngIf="selectedCourse" class="modal-body">
        Deseja realmente <b>rejeitar</b> o curso <b>{{ selectedCourse.title }}</b>?<br>
        <small class="text-secondary">Obs: Após deletado, o criador nao poderá mais editar esse curso.</small>
      </div>
      <div *ngIf="!loadingAction" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <i class="fas fa-arrow-left mr-1"></i>
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" (click)="changeStatus('rejected')">
          <i class="fas fa-trash mr-1"></i>
          Rejeitar
        </button>
      </div>
      <div *ngIf="loadingAction" class="modal-footer">
        <div class="w-100">
          <loader></loader>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal show content-->
<div class="modal fade bd-example-modal-lg" id="showModal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 *ngIf="!loadingShow" class="modal-title">{{ selectedShowCourse.title }}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!loadingShow else load" class="row">
          <div *ngIf="!showing else templateContent" class="col-12">
            <div class="alert alert-secondary text-center">
              <h5>Selecione um conteúdo para vizualizar</h5>
            </div>
          </div>
          <ng-template #templateContent>
            <div class="col-12">
              <h5>Vídeo</h5>
              <div class="w-100 bg-dark text-center" *ngIf="selectedContent.video.length > 0 else noVideo">
                <video style="height: 25vw;" controls>
                  <source src="http://localhost:8000/storage/{{ selectedContent.video[0].path }}"
                    type="{{ selectedContent.video[0].mimeType }}">
                </video>
              </div>
              <ng-template #noVideo>
                <div class="alert alert-warning">
                  <h6>Conteúdo sem vídeo.</h6>
                </div>
              </ng-template>
            </div>
            <div class="col-12 p-2">
              <h5>Arquivos de apoio</h5>
              <div class="card border-info p-1 m-1 bg-info text-white" *ngFor="let file of selectedContent.support_files">
                <p class="m-0">
                  {{ file.file_name }}
                </p>
              </div>
              <div *ngIf="selectedContent.support_files.length == 0" class="alert alert-warning">
                <h6>Conteúdo sem arquivos.</h6>
              </div>
            </div>
            <div class="col-12">
              <h5>Texto de apoio</h5>
              <p class="m-0">
                {{ selectedContent.support_text }}
              </p>
            </div>
          </ng-template>
        </div>
        <div *ngIf="!loadingShow" class="row p-2">
          <h5>Lista de conteúdos</h5>
          <div *ngFor="let content of selectedShowCourse.contents" class="w-100 bg-light item-content" 
            [ngClass]="{active: content == selectedContent}">
            <p class="m-0 p-2" (click)="selectedContent = content; showing = true">
              {{ content.title }}
            </p> 
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>