<div class="modal fade" id="solicitationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content no-border">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" id="exampleModalLabel">Solicitar cadastro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-light" aria-hidden="true">X</span>
        </button>
      </div>
      <form #f=ngForm (ngSubmit)="onSubmit(f)" method="POST">
        <div class="modal-body bg-light">
          <div class="w-100">
            <h5 class="cyberchalk text-center">
              <b>Cyber</b>Chalk
            </h5>
          </div>
          <div class="form-group">
            <label for="name">Nome</label>
            <input class="form-control" type="text" name="name" id="name" ngModel><br>
            <label for="cgu">CGU</label>
            <input class="form-control" type="text" name="cgu" id="cgu" ngModel><br>
            <label for="email">E-mail</label>
            <input class="form-control" type="text" name="email" id="email" ngModel><br>
            <label for="password">Senha</label>
            <input class="form-control" type="password" name="password" id="password" ngModel><br>
          </div>
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
          <button type="submit" class="btn btn-success">
            <i class="fas fa-paper-plane"></i>
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>